 @charset "UTF-8";

 *,  *::before, *::after{
    box-sizing: border-box;
 }
 
 html{
    font-family: 'Noto Sans JP', sans-serif;
 }



.a{
    background-color: whitesmoke;
}
.b{
    background-color: white;
}

.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.container2 {
    width: 70%;
    max-width: 1600px;
    margin: 0 auto;
}

.slider{
    width: 100%;
    max-width: 2400px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 
.center {
    padding: 10px;
    text-align: center;
}
.logo_center{
    margin-bottom: 17px;
}
.logo img{
    display: inline-block;
}

header{
    width: 100%;
    background-color: whitesmoke;
    position: fixed;
    z-index: 2;
    top: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
}

header li{
    margin-top: 40px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    }

header nav {
    background-color: #f4f4f4;
  }

header nav a{
    padding: 15px;
    color: #2c3e50;
    height: 48px;
    width: auto;
    font-size: 20px;
    font-weight: 700;
}

header nav a:hover {
    color: #1074bc;
    border-bottom: 5px solid #1074bc;
    transition: 0.3s;
  }

.title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 15px;
    text-shadow: 2px 2px 2px orangered;
}

strong{
     background-image: linear-gradient(180deg, transparent 0%, whitesmoke 40%, skyblue 70%, skyblue 70%);                                                                                                                
    }

  

.text{
    font-size: 40px;
    margin-bottom: 40px;
}

.text-2{
    font-size: 20px;
    line-height: 2;
    margin-bottom: 60px;
}
#concept{
    border: #000000 solid 2px;
    width: 100%;
}


#concept ul{
    margin-bottom: 60px;
    width: 50%;
    display: inline;
}

#concept li{
    font-size: 27px;
    font-weight: 500;
}

#concept li span{
    color: blue;
}

.swiper-container{
    padding: 30px 0 50px;
    background: #eeeeee;
}
.swiper-container img{
    width: 500pt;
    height: 300px;
}
.s-fade-wrap{
    position: relative;
    max-width: 640px;
    margin: 0 auto;
}

.s-fade-text{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    color: #eeeeee;
    font-size: 5vw;    
}

.swiper-slide-active .s-fade-text{
    animation: slideTextFade 1.75s ease 0s normal;

}

@keyframes slideTextFade {
    0%, 25% {
        opacity: 0;
}
   100% {
    opacity: 1;
   }
}
#survice{
margin-bottom: 60px;
    }
#survice h3{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px yellow;
    }
#survice h4{
font-size: 30px;
font-weight: 1000px;
margin-bottom: 16px;
}    

#survice dl{
    font-size: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-bottom: 60px;
}

#survice dd{
    padding: 10px;
    width: 70%;
    font-weight: 700;
    border-right: #000000 solid 1px;
}

#survice dt{
    padding: 10px;
    width: 30%;
}

.detail{
    width: 300px;
    border: #000000 solid 1px;
}



.blue1 {
    background-color: #ADD8E6;
    border-bottom: #000000 solid 1px;
}

.blue2 {
    background-color: #87CEEB;
    border-bottom: #000000 solid 1px;
}

.facility  {
    background-color: #f5deb3;
    padding: 40px;
 }

.sub2 center img{
    margin-bottom: 60px;
 }

.facility .main img{
    width: 500px;
    height: 300px;    
}

.facility .sub img{
    padding: 10px;
    width: 250px;
    height: 160px;
    transition: transform 0.3s; 
    border-radius: 50%;  
}

.facility .sub2 img{
    padding: 10px;
    width: 300px;
    height: 160px;
    transition: transform 0.3s; 
    border-radius: 200px 180px 105px 55px; 
}

.facility .textarea{
    padding: 10px;
    width: 500px;
    height: 140px;
}

.facility .sub:hover img , .sub2:hover img {
    transform: scale(1.1); 
}

#job_information dd{
    width: 30%;
    font-weight: 700;
}

#job_information dt{
    width: 70%;
}

#job_information dl{
    max-width: 900px;
    background-color: aquamarine;
    margin: auto;
}

#column-1_1{
    padding: 20px 0 20px;
    margin-bottom: 90px;
}

.column-1_2{
    width: 48%;
    background-color: aqua;
}


.offer{
    background-image: linear-gradient(to left, transparent 55%, white), url("../images/Reff/galaxy1.jpg");
    background-size: cover; /* atur ukuran gambar agar menutupi seluruh area */
    background-position: center; /* posisi gambar di tengah-tengah */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.offtext{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 350px;
    height: 450px;
}
.offbtn {
    position: relative;
    left: 10%;
    bottom: 100px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.offbtn:hover {
    background-color: #2980b9;
  }

.kouji-chu1{
    margin-bottom: 60px;
}

#key_visual{
    position: relative;
    margin-top: 95px;
    margin-bottom: 60px;
    width: 100%;
}

#key_visual .logo1{
    position: absolute;
    /* background-color: #D70100; */
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#key_visual p{
    position: absolute;
    color: aqua;
    width: 80%;
    max-width: 1900px;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 2px 2px 2px #000000 ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 5rem;
    z-index: 1;

}

.slider img{
    width: 100%;
    height: 600px;
}

.slider2 img{
    width: 100%;
    height: 600px;
}

.slider2-nav{
    width: 65%;
    margin: 0 auto;
}
.slider2-nav img{
    border: 3px solid black;
    border-radius: 20px;
    width: 100px;
    height: 75px;
}


*{
    transition: .5s;
}

.card-item{
width: 300px;
height: 350px;
margin: 100px auto;
border-radius: 10px;
transform-style: preserve-3d;
perspective: 600px;
}

/* カードの表面 */
.card-front-1
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.2);
    background-position: center top;
    background-size: cover;
    background-image: url(../images/ie-1.jpg);
}

.card-front-2
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.2);
    background-position: center top;
    background-size: cover;
    background-image: url(../images/ie-2.jpg);
}

.card-front-3
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.2);
    background-position: center top;
    background-size: cover;
    background-image: url(../images/ie-3.jpg);
}

/* カードの裏面 */
.card-back-1{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #D70100;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}

.card-back-2{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #D70100;  
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
  }

.card-back-3{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #D70100;
  
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
  }
    
/* ホバー時にカードを回転させる */
.card-item:hover .card-front-1{
    transform: rotateY(180deg);
}

.card-item:hover .card-front-2{
    transform: rotateY(180deg);
}

.card-item:hover .card-front-3{
    transform: rotateY(180deg);
}

.card-item:hover .card-back-1{
     transform: rotateY(0);
}

.card-item:hover .card-back-2{
    transform: rotateY(0);
}

.card-item:hover .card-back-3{
    transform: rotateY(0);
}

#companny table {
    max-width: 800px;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #444;
}
#companny tr{
    font-weight: 500;
}
#companny th {
    color: #fff;
    padding: 10px;
    width: 300px;
    font-weight: 700;
    background-color: #2980b9; /* Warna latar belakang header */
    border: 1px solid #444;
}

#companny td {
    padding: 10px;
    width: 500px;
    background-color: #ecf0f1; /* Warna latar belakang sel */
    border: 1px solid #444;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    cursor: pointer;
    text-decoration: none;
  }

/* Q&A */
.faq {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
.question {
    padding: 20px;
    background-color: skyblue;
    font-weight: bold;
    cursor: pointer;
    border-left: 10px solid #D70100;
  }
  
.answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: max-height 0.4s ease-in-out;
    font-weight: 700;
  }
.question:hover {
    border-left: 10px solid #60e016;
    transition: 0.2s;
  }

#footer {
    background: #0b212d;
    color: #fff;
    font-size: 13px;
  }

#footer .copyright{
    background-color: #333; 
    text-align: center; 
    padding: 20px;
}  
#footer .footer-top {
    background: #0d2735;
    border-top: 1px solid #17455e;
    border-bottom: 1px solid #123649;
    padding: 20px 0 10px 0;
  }
  
  #footer .footer-top p {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1e4356;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #68A4C4;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #a2cce3;
    position: relative;
    margin-left: -15px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 7px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #a2cce3;
  }

#footer table {
    width: 900px;
    margin: auto;
    border-collapse: collapse;
}
#footer td {
    padding: 10px;
    width: 25%;
}
  
.zoom_item {
    background: #1e4356;
    overflow: hidden;
    width: 500px;
    height: 300px;
    position: relative;
    border-radius: 4px;
    margin: 0 0 30px 0;
  }

.zoom_item img {
    transition: all 0.3s ease-in-out;
  }

.zoom_item .zoom_item-info {
    opacity: 0;
    position: absolute;
    transition: all 0.3s linear;
    text-align: center;
    top: 10%;
    left: 0;
    right: 0;
  }
.zoom_item .zoom_item-info a {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    transition: 0.3s;
  }
  
.zoom_item .zoom_item-info a:hover {
    color: white;
  }
  
.zoom_item:hover img {
    opacity: 0.6;
    transform: scale(1.1);
  }
  
.zoom_item:hover .zoom_item-info {
    opacity: 1;
    top: calc(50% - 30px);
  }