 @charset "UTF-8";

 *,  *::before, *::after{
    box-sizing: border-box;
 }
 
 html{
    font-family: 'Noto Sans JP', sans-serif;
 }


.a{
    background-color: whitesmoke;
}
.b{
    background-color: white;
}

.color span:nth-child(1) {color: blue;}
.color span:nth-child(2) {color: red;}

.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 
.center {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.logo_main{
    width: 54px;
    height: 69px;
}

.logo_center{
    margin-bottom: 17px;
    width: 265px;
    height: 41px;
}

header{
    width: 100%;
    background-color: whitesmoke;
    position: fixed;
    z-index: 9999;
    top: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
}

header li{
    margin-top: 40px;
    margin-left: 10px;
    list-style-type: none;
    }

header nav {
    background-color: #f4f4f4;
  }

header nav a{
    padding: 15px;
    color: #2c3e50;
    height: 48px;
    width: auto;
    font-size: 20px;
    font-weight: 200;
}

header nav a:hover {
    color: #1074bc;
    border-bottom: 5px solid #1074bc;
    transition: 0.3s;
  }

.title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 15px;
}


  

.text{
    font-size: 40px;
    margin-bottom: 40px;
}

.text-2{
    font-size: 20px;
    line-height: 2;
    margin-bottom: 60px;
}

#key_visual{
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

#key_visual .main_image img{
    margin-top: -30%;
    width: 100%;
    height: 70rem;
}

#key_visual .logo1{
    font-size: 80px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #ffffff;
}

#concept{
    margin-bottom: 60px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2); 
    border: whitesmoke solid 2px;
    padding: 80px 20px 20px 20px;
    background: linear-gradient(45deg, whitesmoke 50%, whitesmoke 75%,  skyblue 100%)
    
}

#concept p{
    font-size: 45px;
    margin-bottom: 40px;
}

#concept li p{
    font-size: 20px;
    padding-left: 70px;
    margin-bottom: 0px;
}

#concept span{
    font-size: 40px;
}

#concept ul{
    width: 100%;
    font-weight: 10px;
    display: inline;
    margin-bottom: 60px;
}

#concept li{
    padding: 10px;
    font-size: 27px;
}

#concept li span{
    color: blue;
}

#survice{
    padding-top: 80px;
    margin-bottom: 60px;
}


.facility  {
    padding: 40px;
}

.facility table tr td{
    border: #000000 2px solid;
    padding: 8px;
    font-size: 14px;
}

.facility .tab01{
    width: 20%;
}
.facility .tab02{
    width: 40%;
}
.facility .tab03{
    width: 15%;
}
.facility .tab04{
    width: 5%;
    font-size: 30px;
    color: blue;
    font-weight: bolder;
    border-bottom: none;
    border-top: none;
}

/* GH Cost */
.ghcost {
    margin-top: -200px;
    width: 115%;
    overflow: hidden;
    z-index: -2;
  }
.kancost2 {
    margin-top: -850px;
    width: 115%;
    overflow: hidden;
    z-index: -2;
  }
.ghcostbtn {
    position: relative;
    left: 75%;
    margin-bottom: 150px;
    z-index: 8;
  }
.kancostbtn {
    position: relative;
    left: 75%;
    margin-bottom: 200px;
    z-index: 8;
  }

#ghbtntext {
    padding: 15px 60px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
#ghbtntext:hover {
    background-color: #2980b9;
  }
#kanbtntext {
    padding: 15px 60px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
#kanbtntext:hover {
    background-color: #2980b9;
  }
  
.ghcostviewer {
    max-height: 0;
    width: 95%;
    padding: 0 10px;
    margin: 0 auto;
    transition: max-height 0.4s ease-in-out;
    font-weight: 700;
  }
.kancostviewer {
    max-height: 0;
    width: 95%;
    padding: 0 10px;
    margin: 0 auto;
    transition: max-height 0.4s ease-in-out;
    font-weight: 700;
  }

#guide{
    margin-bottom: 60px;
}

#guide img{
    padding: 40px;
    width: 180px;
    height: 180px;
}
#guide .textarea1{
    width: 300px;
    vertical-align: middle;
}
#guide .textarea2{
    width: 700px;
}

.column{
    margin-bottom: 60px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background: linear-gradient(45deg, whitesmoke 50%, whitesmoke 75%,  skyblue 100%)
 }

 .column .text01{
    font-size: 55px;
    font-weight: 700;
    padding: 65px 0;
    color: skyblue;
    text-shadow: 2px 2px 2px green;
    position: relative;
    z-index: 2;
}
.column .img{
    position: relative;
    bottom: 280px;
    transform: translateY(5%);
    z-index: 2;
}

 .column p{
    font-size: 20px;
    position: relative;
    line-height: 40px;
    top: 100px;
    color: #000000;
    /* text-shadow: 2px 2px 2px gray ; */
 }

/* Sora Slider */
.slides {
    margin-top: -200px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
#slidbtntext {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 10px;
    padding: 15px 60px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
.slidviewer {
    max-height: 0;
    width: 95%;
    padding: 0 10px;
    margin: 0 auto;
    transition: max-height 0.4s ease-in-out;
    font-weight: 700;
  }

.slider1 img{
    display: block; /* Sembunyikan slider1 pada layar mobile */
    width: 100%;
    height: 600px;
}
.slider2 img{
    width: 100%;
    height: 500px;
}

#swiper{
    display: none;
  }

article p{
    font-size: 30px;
} 


.job_info{
    border: #000000 solid 1px;
    text-align: center;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, whitesmoke 10%, whitesmoke 50%, gray 100%)
} 
.job_info p{
    padding: 30px;
    text-align: left;
    font-size: 30px;
    text-align: center;
}






*{
    transition: .5s;
}



#companny table {
    max-width: 800px;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #000000;
}
#companny tr{
    font-weight: 500;
}
#companny th {
    color: #000000;
    padding: 10px;
    width: 300px;
    font-weight: 700;
    background-color: whitesmoke;
    border: 1px solid #000000;
}

#companny td {
    padding: 10px;
    line-height: 30px;
    width: 500px;
    background-color: #ffffff; 
    border: 1px solid #000000;
}

#callbtn {
    display: none;
}
#callbtn:hover {
    background-color: gray;
}

#back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    cursor: pointer;
    text-decoration: none;
    z-index: 99;
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: rgb(46, 41, 41);
    border: none; 
    border-radius: 15%;
    line-height: 50px; /* Tinggi garis sesuai dengan tinggi tombol */
    text-align: center; 
    color: whitesmoke;
    transform: rotate(270deg);
  }
#back-to-top:hover{
    background-color: gray;
    }

/* Q&A */
.faq {
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    overflow: hidden;
  }
  
.question {
    padding: 20px;
    background-color: wheat;
    font-weight: bold;
    cursor: pointer;
    border-left: 10px solid  whitesmoke;
  }
  
.answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: max-height 0.4s ease-in-out;
    font-weight: 700;
  }
.question:hover {
    border-left: 10px solid skyblue;
    transition: 0.2s;
  }

#footer {
    background: #0b212d;
    color: #fff;
    font-size: 13px;
    border-top: 1px solid #17455e;
    border-bottom: 1px solid #123649;
    padding: 20px 0 0 0;
  }

#footer .copyright{
    background-color: #333; 
    text-align: center; 
    padding: 20px;
}
  
#footer p {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
  }

  
#footer h4 {
    font-size: 16px;
    font-weight: 600;
    color: #a2cce3;
    position: relative;
    margin-left: -15px;
  }
  
#footer .footer-links ul {
    list-style-type: none;
    padding-top: 15px;
  }
  
#footer .footer-links ul li {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
#footer .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
#footer .footer-links ul a:hover {
    color: #a2cce3;
  }

#footer table {
    width: 1200px;
    margin: auto;
    border-collapse: collapse;
}
#footer td {
    padding: 10px;
    width: 25%;
}

#serviceplan p{
    padding: 5px 30px;
    font-size: 16px;
}

.gmaps{
    width: 800px;
    height: 600px;
}

.offer{
    background-image: linear-gradient(to right, transparent 40%, white), url("../images/soratoppu.jpg");
    background-size: cover; /* atur ukuran gambar agar menutupi seluruh area */
    background-position: center; /* posisi gambar di tengah-tengah */
    background-repeat: no-repeat;
    width: 88%;
    height: 100%;
    margin-bottom: 50px;
}
.offer img{
    width: 265px;
    height: 41px;
}
.offerGH{
    background-image: linear-gradient(to right, transparent 40%, whitesmoke), url("../images/GH.jpg");
    background-size: cover; /* atur ukuran gambar agar menutupi seluruh area */
    background-position: center; /* posisi gambar di tengah-tengah */
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

.offerKan{
    position: relative;
    top: -550px;
    background-image: linear-gradient(to right, transparent 40%, whitesmoke);
    background-size: cover; /* atur ukuran gambar agar menutupi seluruh area */
    background-position: center; /* posisi gambar di tengah-tengah */
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    margin-bottom: 50px;
    z-index: 6;
}

.offer_title{
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.offtext{
    padding: 10px;
    text-align: left;
    text-shadow: -4px -4px 10px white, 4px -4px 10px white, -4px 4px 10px white, 4px 4px 10px white, 0 0 5px black;
    font-size: 18px;
    font-weight: 100;
    position: relative;
    left: 80%;
    top: 70px;
    width: 350px;
    height: 450px;
}

.offbtn {
    position: relative;
    left: 85%;
    bottom: 100px;
    padding: 15px 60px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.offbtn:hover {
    background-color: #2980b9;
  }

