/* Gaya untuk smartphone (lebar layar kurang dari 768px) */
    #menu-toggle {
        display: none; /* Sembunyikan tombol menu hamburger secara default */
    }
    
    #nav-menu {
        display: block; /* Tampilkan menu secara default */
    }
    
    /* Tampilan menu dropdown untuk smartphone (lebar layar < 768px) */
    @media (max-width: 767px) {
        .logo_main{
            width: 45px;
            height: 57px;
        }

        .logo_center{
            margin-bottom: 17px;
            width: 210px;
            height: 30px;
        }

        #menu-toggle {
            display: block; /* Tampilkan tombol menu hamburger */
            position: absolute;
            top: 20px;
            right: 10px;
            z-index: 99;
            background: whitesmoke;
            width: 50px;
            height: 50px;
            border: 1px solid black;
            text-align: center;
            font-size: 24px;
            cursor: pointer;
        }
    
        #nav-menu {
            display: none; /* Sembunyikan menu saat tampilan smartphone */
            position: absolute;
            top: 60px; /* Sesuaikan sesuai dengan tinggi header */
            right: 10px;
            background-color: #f4f4f4;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 10px;
            z-index: 100;
            border-radius: 5px;
            text-align: center;
        }
    
        #nav-menu ul {
            list-style-type: none;
            padding: 0;
        }
    
        #nav-menu ul li {
            margin: 10px 0;
        }
    
        /* Tampilkan menu saat tombol menu hamburger diklik */
        #menu-toggle.active + #nav-menu {
            display: block;
        }

        .facility {
            padding: 20px; /* Mengurangi padding pada perangkat seluler */
        }
    
        .facility table tr td table tr td {
            padding: 8px 20px; /* Mengurangi padding pada perangkat seluler */
            font-size: 10px; /* Mengurangi ukuran font pada perangkat seluler */
        }
    
        .facility .textarea1, .facility .textarea2 {
            width: 40%; /* Menyesuaikan lebar textarea pada perangkat seluler */
        }
    
        .facility .main {
            padding: 0 20px; /* Mengurangi padding pada perangkat seluler */
        }
    
        .facility .main img {
            width: 100%; /* Menyesuaikan lebar gambar pada perangkat seluler */
            height: auto; /* Menyesuaikan tinggi gambar secara otomatis */
        }
    
        .zoom_item {
            width: 100%; /* Menyesuaikan lebar zoom_item pada perangkat seluler */
            height: auto; /* Menyesuaikan tinggi zoom_item secara otomatis */
        }
    
        .zoom_item .zoom_item-info a {
            font-size: 16px; /* Mengurangi ukuran font pada perangkat seluler */
        }

        #footer {
            padding: 20px 0; /* Mengurangi padding pada perangkat seluler */
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
    
        #footer table {
            width: 90%; /* Menyesuaikan lebar tabel pada perangkat seluler */
        }
    
        #footer td {
            padding: 5px;
            width: 25%; /* Menyesuaikan lebar sel-sel pada perangkat seluler */
        }
    
        #footer h4 {
            margin-left: -10px;
            font-size: 14px; /* Mengurangi ukuran font judul pada perangkat seluler */
        }
    
        #footer .footer-links ul a {
            font-size: 10px; /* Menyesuaikan ukuran font tautan pada perangkat seluler */
        }
    
        #footer .social-links {
            margin-top: 10px; /* Tambahkan sedikit ruang di atas ikon sosial pada perangkat seluler */
        }
    
        #footer .social-links a {
            font-size: 12px; /* Menyesuaikan ukuran ikon sosial pada perangkat seluler */
            width: 18px;
            height: 18px;
            line-height: 18px; /* Pusatkan ikon sosial secara vertikal pada perangkat seluler */
        }

        .column .wf-hannari {
            font-size: 8vw;
        }

        .column p{
            font-size: 2vw;
            top: 60%;
            left: 20%;
         }

    }