 @charset "UTF-8";

 *,  *::before, *::after{
    box-sizing: border-box;
 }
 
 html{
    font-family: 'Noto Sans JP', sans-serif;
 }



.a{
    background-color: whitesmoke;
}
.b{
    background-color: white;
}

.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 
.center {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.logo_center{
    margin-bottom: 17px;
}
.logo img{
    display: inline-block;
}

header{
    width: 100%;
    background-color: whitesmoke;
    position: fixed;
    z-index: 3;
    top: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
}

header li{
    margin-top: 40px;
    margin-left: 10px;
    font-size: 16px;
    list-style-type: none;
    }

header nav {
    background-color: #f4f4f4;
  }

header nav a{
    padding: 15px;
    color: #2c3e50;
    height: 48px;
    width: auto;
    font-size: 20px;
    font-weight: 200;
}

header nav a:hover {
    color: #1074bc;
    border-bottom: 5px solid #1074bc;
    transition: 0.3s;
  }

.title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 15px;
}


  

.text{
    font-size: 40px;
    margin-bottom: 40px;
}

.text-2{
    font-size: 20px;
    line-height: 2;
    margin-bottom: 60px;
}

#key_visual{
    position: relative;
    margin-top: 95px;
    margin-bottom: 60px;
    width: 100%;
}

#key_visual .logo1{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#key_visual p{
    position: absolute;
    color: #ffffff;
    width: 80%;
    max-width: 1900px;
    font-size: 45px;
    font-weight: 800;
    text-shadow: 2px 2px 2px #000000 ;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 10rem;
    z-index: 1;

}


#concept{
    border: #000000 solid 2px;
    width: 100%;
}

#concept p{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

#concept ul{
    margin-bottom: 60px;
    width: 50%;
    display: inline;
}

#concept li{
    font-size: 27px;
    font-weight: 500;
}

#concept li span{
    color: blue;
}

.rightxt {
    flex-grow: 1;
    padding-left: 200px;
}

.swiper-container{
    padding: 30px 0 50px;
    background: #eeeeee;
}
.swiper-container img{
    width: 500pt;
    height: 300px;
}
.s-fade-wrap{
    position: relative;
    max-width: 640px;
    margin: 0 auto;
}

.s-fade-text{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    color: #eeeeee;
    font-size: 5vw;    
}

.swiper-slide-active .s-fade-text{
    animation: slideTextFade 1.75s ease 0s normal;

}

@keyframes slideTextFade {
    0%, 25% {
        opacity: 0;
}
   100% {
    opacity: 1;
   }
}
#survice{
margin-bottom: 60px;
    }
#survice h2{
    font-size: 30px;
    margin-bottom: 16px;
}

#survice h3{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
        text-align: center;
    }
#survice h4{
font-size: 30px;
font-weight: 1000px;
margin-bottom: 16px;
}    

#survice dl{
    padding: 10px;
    font-size: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-bottom: 60px;  
    
}

#survice dd{
    padding: 10px;
    width: 70%;
    font-weight: 700;

    
}

#survice dt{
    padding: 10px;
    width: 30%;

}

#guide img{
    padding: 40px;
    width: 180px;
    height: 180px;
}

.facility  {
    padding: 40px;
 }

.facility table tr td table tr td{
    padding: 8px 50px;
    font-size: 14px;
}

.facility table tr td table tr td p{
    margin-left: -20px;
}

.facility .textarea1, #guide .textarea1{
    width: 300px;
}
.facility .textarea2, #guide .textarea2{
    width: 700px;
}

.facility .main{
    padding: 0 150px;
}

.facility .main img{
    width: 700px;
    height: 400px;    
}

#job_information p{
    font-size: 50px;
}
#job_information dd{
    width: 30%;
    font-weight: 700;
}

#job_information dt{
    width: 70%;
}

#job_information dl{
    max-width: 900px;
    background-color: aquamarine;
    margin: auto;
}






*{
    transition: .5s;
}


#companny table {
    max-width: 800px;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #000000;
}
#companny tr{
    font-weight: 500;
}
#companny th {
    color: #000000;
    padding: 10px;
    width: 300px;
    font-weight: 700;
    
    border: 1px solid #000000;
}

#companny td {
    padding: 10px;
    width: 500px;
    background-color: #ffffff; /* Warna latar belakang sel */
    border: 1px solid #000000;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    cursor: pointer;
    text-decoration: none;
  }

/* Q&A */
.faq {
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    overflow: hidden;
  }
  
.question {
    padding: 20px;
    background-color: wheat;
    font-weight: bold;
    cursor: pointer;
    border-left: 10px solid  whitesmoke;
  }
  
.answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: max-height 0.4s ease-in-out;
    font-weight: 700;
  }
.question:hover {
    border-left: 10px solid skyblue;
    transition: 0.2s;
  }

#footer {
    background: #0b212d;
    color: #fff;
    font-size: 13px;
    border-top: 1px solid #17455e;
    border-bottom: 1px solid #123649;
    padding: 20px 0 10px 0;
  }

#footer .copyright{
    background-color: #333; 
    text-align: center; 
    padding: 20px;
}  
  
#footer p {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  
#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1e4356;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
#footer .social-links a:hover {
    background: #68A4C4;
    color: #fff;
    text-decoration: none;
  }
  
#footer h4 {
    font-size: 16px;
    font-weight: 600;
    color: #a2cce3;
    position: relative;
    margin-left: -15px;
  }
  
#footer .footer-links ul {
    list-style-type: none;
  }
  
#footer .footer-links ul li {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
#footer .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
#footer .footer-links ul a:hover {
    color: #a2cce3;
  }

#footer table {
    width: 1200px;
    margin: auto;
    border-collapse: collapse;
}
#footer td {
    padding: 10px;
    width: 25%;
}
  
.zoom_item {
    background: #1e4356;
    overflow: hidden;
    width: 700px;
    height: 400px;
    position: relative;
    border-radius: 4px;
    margin: 0 0 30px 0;
  }

.zoom_item img {
    transition: all 0.3s ease-in-out;
  }

.zoom_item .zoom_item-info {
    opacity: 0;
    position: absolute;
    transition: all 0.3s linear;
    text-align: center;
    top: 10%;
    left: 0;
    right: 0;
  }
.zoom_item .zoom_item-info a {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    transition: 0.3s;
  }
  
.zoom_item .zoom_item-info a:hover {
    color: white;
  }
  
.zoom_item:hover img {
    opacity: 0.6;
    transform: scale(1.1);
  }
  
.zoom_item:hover .zoom_item-info {
    opacity: 1;
    top: calc(50% - 30px);
  }

#serviceplan p{
    padding: 5px 30px;
    font-size: 16px;
}