/* Gaya untuk smartphone (lebar layar kurang dari 768px) */
    #menu-toggle {
        display: none; /* Sembunyikan tombol menu hamburger secara default */
    }
    
    #nav-menu {
        display: block; /* Tampilkan menu secara default */
    }
    
    /* Tampilan menu dropdown untuk smartphone (lebar layar < 768px) */
    @media (max-width: 767px) {
        .logo_main{
            width: 40px;
            height: 53px;
        }

        .logo_center{
            margin-bottom: 17px;
            width: 190px;
            height: 27px;
        }

        #menu-toggle {
            display: block; /* Tampilkan tombol menu hamburger */
            position: absolute;
            top: 10px;
            right: 0px;
            z-index: 99;
            background: whitesmoke;
            width: 40px;
            height: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            text-align: center;
            font-size: 24px;
            cursor: pointer;
        }

        #nav-menu {
            /* display: none; Sembunyikan menu saat tampilan smartphone */
            position: absolute;
            top: 45px;
            background-color: whitesmoke;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 5px;
            z-index: 100;
            border-radius: 5px;
            text-align: center;
            opacity: 0; /* Awalnya, set opasitas ke 0 untuk menyembunyikan menu */
            transform: translateY(-5px); /* Mulai dengan posisi di luar tampilan */
            transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; 
        }
    
        #nav-menu ul {
            list-style-type: none;
            padding: 0;
        }
    
        #nav-menu ul li {
            margin: 10px 0;
        }
    
        /* Tampilkan menu saat tombol menu hamburger diklik */
        #menu-toggle.active + #nav-menu {
            /* display: block; */
            opacity: 1; /* Saat aktif, set opasitas ke 1 untuk menampilkan menu */
            transform: translateY(0); /* Geser menu ke posisi yang benar saat aktif */
        }
        
        .title{
            font-size: 18px;
            margin-top: 10px;
            padding: 5px;
        }
        
        #key_visual .main_image img{
            width: 100%;
            height: 120vw;
        }
        
        #concept p{
            font-size: 30px;
            margin-bottom: 20px;
        }
        
        #concept .text1{
            font-size: 14px;
            margin-bottom: 20px;
        }
        
        #concept ul{
            margin-bottom: 30px;
            width: 90%;
            font-weight: 10px;
        }
        
        #concept li{
            font-size: 18px;
        }

        .facility {
            padding: 10px; /* Mengurangi padding pada perangkat seluler */
        }
    
        .facility table tr td table tr td {
            border: 1px black solid;
            padding: 2px;
            font-size: 2vw; /* Mengurangi ukuran font pada perangkat seluler */
        }

        .facility .tab02{
            width: 50%;
        }

        .facility .tab04{
            font-size: 2vw;
        }
    
        .facility .textarea1, .facility .textarea2 {
            width: 40%; /* Menyesuaikan lebar textarea pada perangkat seluler */
        }
    
        .facility .main {
            padding: 0 20px; /* Mengurangi padding pada perangkat seluler */
        }
    
        .facility .main img {
            width: 100%; /* Menyesuaikan lebar gambar pada perangkat seluler */
            height: auto; /* Menyesuaikan tinggi gambar secara otomatis */
        }
    
        .zoom_item {
            width: 100%; /* Menyesuaikan lebar zoom_item pada perangkat seluler */
            height: auto; /* Menyesuaikan tinggi zoom_item secara otomatis */
        }
    
        .zoom_item .zoom_item-info a {
            font-size: 16px; /* Mengurangi ukuran font pada perangkat seluler */
        }

        #footer {
            padding: 20px 0px; /* Mengurangi padding pada perangkat seluler */
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
    
        #footer table {
            width: 90%; /* Menyesuaikan lebar tabel pada perangkat seluler */
        }
    
        #footer td {
            padding: 0px;
            width: 20%; /* Menyesuaikan lebar sel-sel pada perangkat seluler */
        }
    
        #footer h4 {
            margin-left: -10px;
            font-size: 14px; /* Mengurangi ukuran font judul pada perangkat seluler */
        }
    
        #footer .footer-links ul a {
            font-size: 10px; /* Menyesuaikan ukuran font tautan pada perangkat seluler */
        }

        .column .text01{
            font-size: 8vw;
            top: 0px;
        }

        .column img{
            top: -200px;
            width: 60%;
        }

        .column p{
            font-size: 3vw;
            top: 60%;
         }
        #slider-number{
            margin-left: 65%;
            width: 100px;
            font-size: 15px;
            padding: 50 0 0 0;
        }
        .slider img{
            width: 100%;
            height: 200px;
        }
        .prev-sliders{
            font-size: 6vw;
        }
        .next-sliders{
            font-size: 6vw;
        }

        /* slick Button Customize */
        .slick-prev {
            left: -40px;
        }
        .slick-next {
            right: -40px;
        }
        
        .slick-prev:before,
        .slick-next:before
        {
            font-size: 8vw;
            opacity: .9;
        }

         .gmaps{
            padding: 0;
            width: 100%;
            height: 300px;
        }

        #companny td {
            padding: 10px;
            line-height: 15px;
            font-size: small;
        }

        .offer{
            width: 80%;
            height: 200px;
        }

        .offer img{
            width: 132px;
            height: 21px;
        }

        .offtext{
            font-size: 10px;
            left: 70%;
            top: 10%;
            width: 175px;
            height: 225px;
        }

        .offbtn {
            left: 75%;
            bottom: 70px;
            padding: 7px 25px;
            font-size: 10px;
          }
        
        #survice h3{
            font-size: 15px;
            font-weight: bolder;
        }
        #survice h2{
            font-size: 20px;
        }

        #guide .textarea2{
            font-size: 15px;
        }

    }